/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
 }
 body {
  font-family: 'Roboto', sans-serif;
 }
 .centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1.5px solid;
  border-image-source: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  border-image-slice: 1;
  padding: 20px;
  box-sizing: border-box;
}

.centered-form h2,
.centered-form label,
.centered-form input,
.centered-form .actions input[type="submit"] {
  color: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
  }
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 70px;
    width: 100%;
    background: linear-gradient(310deg, rgb(121, 40, 202), rgb(255, 0, 128));
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
  }

.photo {
    margin-bottom: 90px;
}